html, body {
width: 100%;
}

body {
background: #fff;
color: #000000;
height: auto;
-webkit-font-smoothing: subpixel-antialiased;
overflow-y: scroll;
}
body {
font-family: 'Helvetica', Helvetica Neue, Arial, sans-serif;
font-size: 19px;
line-height: 26px;
}

a {
color: #000000;
text-decoration: none;
border-bottom: 1px solid red;
outline: none;
margin: 0;
font-family: 'AvantGardeGothicITCW01B 731063';
}
a:hover {
border-bottom: 1px solid #000;
}

a.external {
border-bottom: 1px solid red;
}

a.external:hover {
border-bottom: 1px solid #000;
}



h1, h1 a {
color: #000000;
}
#headerCenter{
position: fixed;
left: 0;
top: 0;
width: 100%;
background: #fff;
z-index: 1000;
max-width: 1800px;
overflow: hidden;
margin: 0px auto;
padding: 0px;
padding-top: 0;
padding-bottom: 0;
}
#headerCenter h1 {
font-size: 19px;
line-height: 26px;
}
nav {
width: 25%;
float: left;
}

#home {
width: 25%;
padding: 20px;
padding-bottom: 26px;
padding-top: 26px;
overflow: auto;
}
#links {
width: 65%;
padding: 20px;
padding-bottom: 26px;
padding-top: 26px;
overflow: auto;
}
#headerCenter ul {
overflow: auto;
list-style:none;
}

#links li{
margin-left: 10px;
width: 30;
float: left;
display: block;
border-top: 1px solid #bbb;
}
 
#links a {
padding-right: 20px;
	
}#links li:hover {
border-top: 1px solid #000;

}

#headerCenter a:hover, #headerCenter a  {
border-bottom: 1px solid transparent;
}

#headerCenter h1 {
margin-top: 0px;
}
#headerCenter h1 a {
display: block;
}
ul, li {
margin: 0;
padding: 0;
}

.bold {
font-weight: bold;
}


.large {
font-size: 48px;
line-height: 52px;
}

.normal {
font-size: 19px;
line-height: 26px;
}

#sinopsis{
padding-top: 70px;	
	
}

.principal {
clear:both;
width: 100%;
overflow: hidden;


}

.titulo{
	margin-left:15px;
	width: 25%;
	float:left;
	margin-top:20px;
	
}
.articulo{
	width: 65%;
	float:left;
	
	

}
.dispositivo{
    border-top: 1px solid #999;
}
.circleBase {
    border-radius: 50%;
}
.type1 {
    width: 15px;
    height: 15px;
    background: #666;
	margin-top:30px;
	margin-right:5px;
}
footer {
clear:both;
width: 100%;
overflow: hidden;
height:100px;
}

footer div{
padding: 20px;
padding-bottom: 26px;
padding-top: 26px;
overflow: auto;
width: 25%;
float:left;


}

.referencia {
	clear:both;
width: 100%;
overflow: hidden;
border-bottom: 1px solid #999;



}
.refIzq{
padding-top:10px;
width: 30%;
float:left;
}
.refDer{	
float:left;
width: 60%;

}
select, input, textarea {
font-family: 'Helvetica', Helvetica Neue, Arial, sans-serif;
font-family: 'AvantGardeGothicITCW01B 731063';
font-size: 19px;
line-height: 26px;
}

h2 {
font-family:'ITCGaramondW01-BookItal';
}
h3 {
font-family:'ITCGaramondW01-LightIt';
}
footer{
	clear:both;
	width:100%;
	margin-right: auto;
	background:#040200;
	background-image:url(../img/footer.jpg);
	background-repeat:no-repeat;
	height:400px;

}